* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Ru {
    background-color: aqua;
}
.En{
    background-color: aqua;
}
body {
    font-family: Arial, sans-serif;
    font-size: 1 em;
    line-height: 1.5;
}

header {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

nav li {
    float: left;
}

.navbar-items {
    position: relative;
    text-align: center;
}
nav li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    size: 1.5em;
}

section img{
    width: auto;
    flex-wrap: wrap;
    height: 25em;
    text-align: center;
}

nav li a:hover {
    background-color: #333;
}

h1 {
    margin: 0;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;

}


.main-content {

    width: 100%;
    align-items: center;
}



section {
    margin: 20px;
    max-width: fit-content;
    text-align: justify;
    align-items: center;
    
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}



iframe {
    width: 100%;
    height: 400px;
    margin: 20px 0;
    align-items: center;
}

audio {
    width: 100%;
    align-items: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 100;
}
.media {
    float:сenter;
    width: 100%;
}

@media only screen and (max-width: 2000px) {
    section {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    nav {
        flex-direction: column;
    }
    nav a {
        margin: 10px 0;
    }
}



.lyrics {
    text-align: center;
}